label {
    @apply transform-none text-neutral-700 text-sm #{!important};
}
form .mat-form-field-appearance-legacy {
    @apply text-sm rounded-md box-border h-[42px]  #{!important};
    @apply border border-solid border-neutral-300;

    &.ng-invalid.ng-touched {
        @apply border-error-600 border border-solid mb-6 #{!important};
    }
    &.mat-focused {
        @apply border border-solid border-primary-600 outline outline-[0.188rem] outline-primary-200;
        &.ng-invalid.ng-touched {
            @apply border border-solid border-error-300 outline outline-[0.188rem] outline-error-300;
        }
    }
    &.mat-form-field-disabled {
        @apply bg-neutral-100;
    }
    .mat-form-field-wrapper {
        .mat-form-field-flex {
            @apply items-center;
        }
        .mat-form-field-infix {
            @apply flex p-0 border-0 items-center #{!important};

            .mat-select-disabled {
                cursor: not-allowed;
                @apply bg-neutral-50;
            }
            input.mat-input-element {
                @apply h-[2.5rem];
            }
            input.mat-input-element, textarea.mat-input-element {
                @apply text-sm rounded-md box-border px-4 #{!important};
                margin-top: unset !important;
                .mat-select-trigger {
                    height: inherit;
                }
                &.phone-intl-tel-input {
                    padding: 0 0.375rem 0 5.625rem !important;
                }
            }
            textarea.mat-input-element {
                @apply pt-3 #{!important};
            }

            .mat-input-element {
                @apply pr-10 #{!important};
            }

            .mat-form-field-label-wrapper {
                // TODO fix that issue without using -ve coordinates
                @apply left-4 -top-2;
                .mat-form-field-label {
                    @apply transform-none text-neutral-300 text-sm font-normal leading-5 #{!important};
                    display: none;
                    &.mat-form-field-empty {
                        display: block;
                    }
                }
            }

            .mat-form-field-required-marker {
                display: none;
            }
        }
        .mat-form-field-suffix {
            @apply absolute right-4 text-neutral-500 text-md;
        }
        .mat-form-field-underline {
            @apply hidden;
        }
        .mat-form-field-prefix {
            padding-inline-start: 1rem;
        }
    }
}

form .material-textarea.mat-form-field-appearance-legacy {
    @apply h-auto #{!important};
    input.mat-input-element, textarea.mat-input-element {
        // @apply h-auto #{!important};
    }
}

form.ng-submitted .mat-form-field-appearance-legacy .mat-form-field-infix input.mat-input-element.ng-invalid {
    @apply border border-error-600 #{!important};
}

.country-selector {
    display: block;
    opacity: 1 !important;
    width: 2.5rem;
}
